body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 28px;
}

.header {
  padding: 60px 15px 109px;
  max-width: 1198px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: flex-end;
}

.logo {
  background: url(img/logo.svg) no-repeat;
  background-size: cover;
  width: 102px;
  height: 41px;
}

.menu ul {
  margin: 0;
  display: flex;
}

.menu ul li {
  list-style: none;
  margin: 0 5px;
  padding: 0;
}

.menu ul li a {
  color: black;
  padding: 2px 15px;
  transition-duration: .2s;
}

.menu a:active,
.menu a:focus,
.menu a:hover {
  box-sizing: border-box;
  background-color: #00C8FF;
  border-radius: 5px;
  color: #fff;
}

.header_content-title {
  padding: 0;
  padding-top: 130px;
  text-align: center;
  margin: 0;
  margin-bottom: 65px;
}

.header_content p {
  font-size: 58px;
  font-size: 32px;
  margin: 0;
  margin-bottom: 75px;
}

/* button contact_us*/
.contact_us {
  display: inline-block;
  width: 235px;
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: #00C8FF;
  border-radius: 4px;
  padding: 15px 0;
}

.contact_us a:hover,
.contact_us a:focus,
.contact_us a:active {
  box-shadow: 0px 0px 18px 0px rgba(159, 166, 168, 1);
}

/* line */
.line {
  position: relative;
  border-bottom: 1px solid #C2C2C2;
}

.line_text {
  box-sizing: border-box;
  font-size: 20px;
  color: #C2C2C2;
  position: absolute;
  left: 30%;
  top: -50%;
  transform: translate(0, -50%);
  background-color: #fff;
  margin: 0;
  padding: 0 20px;
  text-transform: uppercase;
}

/* our_service */
.service {
  box-sizing: border-box;
  max-width: 1150px;
  margin: 0 auto;
  padding: 108px 15px 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service_item {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.service_item-content {
  width: 300px;
  padding-left: 48px;
}

.service_item-mobile {
  background: url(img/smartphone.svg) no-repeat;
}

.service_item_design {
  background: url(img/layers.svg) no-repeat;
}

.service_item_web {
  background: url(img/monitor.svg) no-repeat;
}

.service_item_quality {
  background: url(img/quality.svg) no-repeat;
}

.service_item-img {
  width: 80px;
  height: 124px;
  background-position: 50% 20px;
}

.description {
  color: #B2B2B2;
  margin: 0 auto;
  padding-top: 8px;
  line-height: 1.5em;
}

/* our client */
.client {
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 45px;
  padding-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.client_logo_1 {
  background: url(img/lighspeed.svg) no-repeat;
}

.client_logo_2 {
  background: url(img/trvl.svg) no-repeat;
}

.client_logo_3 {
  background: url(img/speeder.svg) no-repeat;
}

.client_logo_4 {
  background: url(img/trip.svg) no-repeat;
}

.client_logo_5 {
  background: url(img/sutt.svg) no-repeat;
}

.client_logo_6 {
  background: url(img/decossvg.svg) no-repeat;
}

.client_logo_7 {
  background: url(img/tigets.svg) no-repeat;
}

.client_logo_8 {
  background: url(img/hotel.svg) no-repeat;
}

.client_logo_9 {
  background: url(img/fits.svg) no-repeat;
}

.client_logo_10 {
  background: url(img/sapsvg.svg) no-repeat;
}

.client_logo_11 {
  background: url(img/red.svg) no-repeat;
}

.client_logo_12 {
  background: url(img/nos.svg) no-repeat;
}

.client_logo {
  width: 185px;
  height: 60px;
  padding: 20px 45px;
  background-position: 50% 50%;
}

/* our team */
.team {
  max-width: 1150px;
  margin: 0 auto;
  padding: 85px 15px 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team_card {
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
}

.team_card-member_1 {
  background: url(img/nina.png) no-repeat;
}

.team_card-member_2 {
  background: url(img/Tizzy.png) no-repeat;
}

.team_card-member_3 {
  background: url(img/tom.png) no-repeat;
}

.team_card-member_4 {
  background: url(img/alex.png) no-repeat;
}

.team_card-member_5 {
  background: url(img/Thomas.png) no-repeat;
}

.team_card-member_6 {
  background: url(img/Claire.png) no-repeat;
}

.team_card-member_7 {
  background: url(img/stiven.png) no-repeat;
}

.team_card-member_8 {
  background: url(img/anna-marie.png) no-repeat;
}

.team_card-member_9 {
  background: url(img/ernst.png) no-repeat;
}

.team_card-member .description {
  font-size: 14px;
}

.team_card-member {
  width: 100px;
  height: 100px;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
}

.team_card-info {
  box-sizing: border-box;
  padding-left: 40px;
  width: 165px;
}


/* footer */
footer {
  height: 100px;
  background: #F7F7F7;
  position: relative;
  overflow: hidden;
}

.footer_container {
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer_container>div {
  margin: 10px 0;
}

.footer_container-logo {
  background: url(img/logo.svg) no-repeat;
  width: 102px;
  height: 41px;
}

.footer_container-social {
  width: 220px;
  height: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  height: 26px;
}

.footer_container-social a {
  margin: 0;
}

.footer::after {
  clear: both;
  content: '';
  display: block;
}


/* media */
@media (max-width: 991px) {
  .service_item {
    width: 100%
  }

  .team {
    justify-content: center;
    max-width: 768px
  }

  .team_card {
    width: 165px;
    flex-direction: column;
  }

  .team_card-info {
    text-align: center;
    padding-left: 0;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .service {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .service_content_card {
    padding-left: 5px;
  }

  .service {
    justify-content: center;
  }

  .menu {
    position: relative;
  }

  .menu_img {
    width: 41px;
    height: 41px;
    background-image: url(img/bars-solid.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  .menu ul {
    display: block;
    padding: 0
  }

  .menu ul li {
    padding: 5px 0;
    text-align: right
  }

  .menu ul li a {
    padding: 0;
  }

  .menu_table {
    display: none;
    position: absolute;
    left: -30px;
    width: 80px;
    height: 100px;
  }

  .menu_table a:active,
  .menu_table a:focus,
  .menu_table a:hover {
    border-bottom: 2px solid #00C8FF;
  }

  .menu:hover .menu_table,
  .menu:active .menu_table {
    display: block
  }

  .menu a:active,
  .menu a:focus,
  .menu a:hover {
    background-color: #fff;
    border-radius: 0;
    color: #000;
  }

  .header_content {
    margin-bottom: 30px;
    text-align: center;
  }

  .header_content-title {
    margin-bottom: 20px;
  }

  .footer {
    height: 150px;
  }

  .footer_container {
    flex-direction: column;
    justify-content: center;
  }
}